/* sets base style for each page */
/* body.home{background-image:url(turtleHome.jpg);background-size: cover;} */
body.infopage{background-image:url(koiArticles.jpg);background-size: cover; background-position:0px -100px;}
body.games{background-image:url(gamesBird.jpg);background-size: cover;}
body.faq{background-image:url(faqTurtle.jpg);background-size: cover;}
body.hych{background-image:url(hychDolphin.jpg);background-size: cover;}
body.about{background-image:url(aboutJelly.jpg);background-size: cover;}

.parallax {
  /* The image used */
  background-image: url("turtleHome.jpg");

  /* Set a specific height */
  min-height: 125px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxDonate {
  /* The image used */
  background-image: url("hychDolphin.jpg");

  /* Set a specific height */
  min-height: 150px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxGames {
  /* The image used */
  background-image: url("gamesBird.jpg");

  /* Set a specific height */
  min-height: 150px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxArt {
  /* The image used */
  background-image: url("koiArticles.jpg");

  /* Set a specific height */
  min-height: 45px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax450 {
  /* The image used */
  background-image: url("koiArticles.jpg");

  /* Set a specific height */
  min-height: 450px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
}

li a:hover, .dropdown:hover {
  background-color: green;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #f1f1f1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: green;}

.dropdown:hover .dropdown-content {
  display: block;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: green;

  p, h2,h3,h4,h5,strong{
    margin-left: 25px;
  }
